<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ax NFT</title>
    <link rel="shortcut icon" href="/favicon.ico" />

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
  </head>
  <body>
    <div class="header-section">
      <h1>Axross NFTs</h1>
  </div>

    <sction class="item-section">

      <form action="/" method="GET">
        <div class="listlink">
          <strong>外部サイトで確認:</strong><a href="https://test.bithomp.com/ja/nft-explorer?issuer=rn3pWURH2KqqkijpyphuFRdLZMmw9ppeEb" target="_blank">NFT一覧</a>
        </div>
        <h2 class="item-label">NFT Owner information</h2>
        <div>
          <label>NFTs: <%= nfts.length %></label>
        </div>
        <div>
          <label>Account Address</label>
        </div>
        <label>Enter your account address</label>
        <div class="inputWithIcon inputIconBg">
          <input type="text" placeholder="Account Address" id="accountField" name="accountField" value="rn3pWURH2KqqkijpyphuFRdLZMmw9ppeEb">
          <i class="fa fa-user fa-lg fa-fw" aria-hidden="true"></i>
        </div>
        <button class="btn" type="submit">Update</button>
      </form>
    </sction>

    <sction class="item-section">
      <h2 class="item-label">Featured NFTs</h2>
      <div class="swiper">
        <div class="swiper-wrapper">
          <% for(let nft of nfts){ %>
            <div class="swiper-slide">
              <div class="card">
                <img class="genimg" alt=<%= nft.nftid %> src=<%= nft.imageUrl %>>
                <div class="extrainfo">
                  
                  <div class="content">
                    
                    <p class="nftname"><%= nft.name %></p>
                    <% for(let attr of nft.attributes){ %>
                      <div class="attrs">
                        <%= attr.trait_type %> : <%= attr.value %>
                      </div>
                    <% } %>

                  </div>
                </div>

              </div>
              <% if (isIssuer) { %>
                <p class="pricetag"><strong><%= nft.selloffer_amount %></strong> XRP</p>
                <button class="btn" onclick="offerItem('<%= nft.selloffer_id %>')">Buy NFT</button>
              <% } %>
            </div>
          <% } %>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </sction>

    <sction class="item-section">
      <h2 class="item-label">All NFTs</h2>
      <div id="loadItems" class="grid">
        <% for(let nft of nfts){ %>
          <div class="item">
            <div class="card">

              <img class="genimg" alt=<%= nft.nftid %> src=<%= nft.imageUrl %>>
              <div class="extrainfo">
                <div class="content">
                  
                  <p class="nftname"><%= nft.name %></p>
                  <% for(let attr of nft.attributes){ %>
                    <div class="attrs">
                      <%= attr.trait_type %> : <%= attr.value %>
                    </div>
                  <% } %>

                </div>
              </div>
            </div>


            <% if (isIssuer) { %>
              <p class="pricetag"><strong><%= nft.selloffer_amount %></strong> XRP</p>
              <button class="btn" onclick="offerItem('<%= nft.selloffer_id %>')">Buy NFT</button>
            <% } %>
          </div>
        <% } %>
      </div>

      <% if (isIssuer) { %>
      <div class="allnfts">
        <div class="loadmore">
          <button class="btn" onclick="loadmore()">Load More</button>
        </div>
        <div id="loading">
          <p>LOADING...</p>
          <div class="spinner-box">
            <div class="circle-border">
              <div class="circle-core"></div>
            </div>  
          </div>
        </div>  
      </div>
      <% } %>
  
    </sction>

    <div class="popup-overlay" id="popup">
        <div class="popup-window">
            <a id="walletlink" class="btn" href="" target="_blank">Open Wallet</a>
            <label id="popup-close" class="popup-close" for="popup">
                <svg width="18" height="18" xmlns="http://www.w3.org/2000/svg">
                    <line x1="0" y1="0" x2="18" y2="18" stroke="blue" stroke-width="3"></line>
                    <line x1="0" y1="18" x2="18" y2="0" stroke="blue" stroke-width="3"></line>
                </svg>
            </label>
        </div>
    </div>
    <div class="popup-overlay" id="detail-popup">
      <div class="popup-window">
          <a id="walletlink" class="btn" href="" target="_blank">Open Wallet</a>
          <label id="popup-close" class="popup-close" for="popup">
              <svg width="18" height="18" xmlns="http://www.w3.org/2000/svg">
                  <line x1="0" y1="0" x2="18" y2="18" stroke="blue" stroke-width="3"></line>
                  <line x1="0" y1="18" x2="18" y2="0" stroke="blue" stroke-width="3"></line>
              </svg>
          </label>
      </div>
  </div>
    
  </body>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
  <script src="https://xumm.app/assets/cdn/xumm.min.js"></script>

  <script>

    const swiper = new Swiper(".swiper", {
      slidesPerView: 1,
        breakpoints: {
        768: {
          slidesPerView: 3,
        },
      },
      pagination: {
        el: ".swiper-pagination"
      },

      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev"
      }
    });

    $('#popup-close').on('click', function() {
      console.log("CLOSE")
      $('#popup').removeClass("active");
    });

/*
    $(document).ready(function(){

      var addr = $("#accountField").val();
      console.log("INIT ADDR:" + addr);

      $.ajax({
//        url: 'http://localhost:3000/req-post',
        url: '/',
        type: 'POST',
        data: {
          'addr': addr
        },
        dataType: 'text'
      }).done(function( data, textStatus, jqXHR ) {
        console.log("SUCESS");
        console.log(data);
//        jsonData = JSON.parse(data);

      })

    });
*/

    function offerItem(id){
      console.log("Offer NFT ID:" + id);

      $.ajax({
        url: '/req-xumm',
        type: 'POST',
        data: {
          'id': id
        },
        dataType: 'text'
      }).done(function( data, textStatus, jqXHR ) {
        console.log("SUCESS");
//        console.log(data);
        jsonData = JSON.parse(data);

        if(!window.open(jsonData.xummlink, '_blank')) {
          $('#walletlink').attr("href",jsonData.xummlink);;
//          $('#popup').prop("checked", true);
          $('#popup').addClass("active");

          location.href = jsonData.xummlink;
        } else {
          window.open(jsonData.xummlink, '_blank');
        }

      }).fail(function( jqXHR, textStatus, errorThrown) {
        console.log("FAIL");
      }).always(function( jqXHR, textStatus) {
        console.log("DONE");
      });
    }


    function loadmore(){
      console.log("Load More");
      $("#loading").addClass("start");

      $.ajax({
        url: '/loadmore',
        type: 'POST',
        data: {
          'id': "test"
        },
        dataType: 'text'
      }).done(function( data, textStatus, jqXHR ) {
        console.log("SUCESS");
        console.log(data);
        nfts = JSON.parse(data);

        var l_ele = $("#loadItems");
        for (const nft of nfts) {
          var text = `<div class="item"><div class="card"><img class="genimg" alt=${nft.nftid} src=${nft.imageUrl}><div class="extrainfo"><div class="content"><p class="nftname">${nft.name}</p>`;
          var attrText = "";
          for (const attr of nft.attributes) {
            attrText +=` <div class="attrs">${attr.trait_type} : ${attr.value}</div>`;
          }
          var textAfter =`</div></div></div><p class="pricetag"><strong>${nft.selloffer_amount}</strong> XRP</p><button class="btn" onclick="offerItem('${nft.selloffer_id}')">Buy NFT</button></div>`;
          l_ele.append(text + attrText + textAfter);
        }

      }).fail(function( jqXHR, textStatus, errorThrown) {
        console.log("FAIL");
      }).always(function( jqXHR, textStatus) {
        console.log("DONE");
        $("#loading").removeClass("start");
      });
    }

  </script>



</html>
