<!DOCTYPE html>
<html>
  <head>
    <title>Ax NFT</title>
    <link rel="shortcut icon" href="/favicon.ico" />

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
  </head>
  <body>
    <div class="header-section">
      <h1>Axross NFT</h1>
  </div>

    <sction class="item-section">

      <form action="/" method="GET">
        <div class="listlink">
          <strong>外部サイト:</strong><a href="https://test.bithomp.com/ja/nft-explorer?issuer=rn3pWURH2KqqkijpyphuFRdLZMmw9ppeEb" target="_blank">NFT一覧</a>
        </div>
        <h2 class="item-label">NFT Owner information</h2>
        <div>
          <label>NFTs: <%= nfts.length %></label>
        </div>
        <div>
          <label>Account Address</label>
        </div>
        <div class="inputWithIcon inputIconBg">
          <input type="text" placeholder="Account Address" id="accountField" name="accountField" value="rn3pWURH2KqqkijpyphuFRdLZMmw9ppeEb">
          <i class="fa fa-user fa-lg fa-fw" aria-hidden="true"></i>
        </div>
        <button class="btn" type="submit">Update</button>

      </form>
    </sction>


    <sction class="item-section">
      <h2 class="item-label">Axross Coins</h2>
      <div class="grid">
        <% for(let nft of nfts){ %>
          <div class="item">
            <img class="genimg" alt=<%= nft.nftid %> src=<%= nft.imageUrl %>>
            <% if (isIssuer) { %>
              <p class="pricetag"><strong><%= nft.selloffer_amount %></strong> XRP</p>
              <button class="btn" onclick="offerItem('<%= nft.nftid %>, <%= nft.selloffer_id %>')">Buy NFT</button>
            <% } %>
          </div>
        <% } %>
      </div>
    </sction>

    <% if (isIssuer) { %>
      <sction class="item-section">
      <div class="loadmore">
        <button class="btn" onclick="loadmore()">Load More</button>
      </div>
      <div id="loading">
        <p>LOADING...</p>
        <div class="spinner-box">
          <div class="circle-border">
            <div class="circle-core"></div>
          </div>  
        </div>
      </div>


      <div id="loadItems" class="grid">
      </div>

<!--
      <% if (nftsall.length > 0) { %>

      <h2 class="item-label">Magical Glass Series</h2>
      <div class="grid">
        <% for(let nft of nftsall){ %>
          <div class="item">
            <img class="genimg" alt=<%= nft.nftid %> src=<%= nft.imageUrl %>>
            <% if (isIssuer) { %>
              <p class="pricetag"><strong><%= nft.selloffer_amount %></strong> XRP</p>
              <button class="btn" onclick="offerItem('<%= nft.selloffer_id %>')">Buy NFT</button>            
            <% } %>
          </div>
        <% } %>
      </div>
      <% } %>
-->

    </sction>
    <% } %>



    <sction class="item-section">
      <div class="swiper">
        <div class="swiper-wrapper">
          <% for(let nft of nfts){ %>
            <div class="swiper-slide">
              <img class="genimg" src=<%= nft.imageUrl %>>
              <p class="pricetag">PRICE: <%= nft.selloffer_amount %> XRP</p>
            </div>
          <% } %>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </sction>

    
  </body>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
  <script src="https://xumm.app/assets/cdn/xumm.min.js"></script>

  <script>

    const swiper = new Swiper(".swiper", {
      slidesPerView: 1,
        breakpoints: {
        768: {
          slidesPerView: 3,
        },
      },
      pagination: {
        el: ".swiper-pagination"
      },

      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev"
      }
    });

/*
    $(document).ready(function(){

      var addr = $("#accountField").val();
      console.log("INIT ADDR:" + addr);

      $.ajax({
//        url: 'http://localhost:3000/req-post',
        url: '/',
        type: 'POST',
        data: {
          'addr': addr
        },
        dataType: 'text'
      }).done(function( data, textStatus, jqXHR ) {
        console.log("SUCESS");
        console.log(data);
//        jsonData = JSON.parse(data);

      })

    });
*/

    function offerItem(nftid, id){
      console.log("Offer NFT ID:" + id);

      $.ajax({
//        url: 'http://localhost:3000/req-post',
        url: '/req-xumm',
        type: 'POST',
        data: {
          'id': id
        },
        dataType: 'text'
      }).done(function( data, textStatus, jqXHR ) {
        console.log("SUCESS");
//        console.log(data);
        jsonData = JSON.parse(data);
        window.open(jsonData.xummlink, '_blank');

      }).fail(function( jqXHR, textStatus, errorThrown) {
        console.log("FAIL");
      }).always(function( jqXHR, textStatus) {
        console.log("DONE");
      });
    }


    function loadmore(){
      console.log("Load More");
      $("#loading").addClass("start");

      $.ajax({
//        url: 'http://localhost:3000/req-post',
        url: '/loadmore',
        type: 'POST',
        data: {
          'id': "test"
        },
        dataType: 'text'
      }).done(function( data, textStatus, jqXHR ) {
        console.log("SUCESS");
        console.log(data);
        nfts = JSON.parse(data);

        var l_ele = $("#loadItems");
        l_ele.html("");

        for (const nft of nfts) {
          var text = `<div class="item"><img class="genimg" alt=${nft.nftid} src=${nft.imageUrl}><p class="pricetag"><strong>${nft.selloffer_amount}</strong> XRP</p><button class="btn" onclick="offerItem('${nft.selloffer_id}')">Buy NFT</button></div>`
          l_ele.append(text);
        }

      }).fail(function( jqXHR, textStatus, errorThrown) {
        console.log("FAIL");
      }).always(function( jqXHR, textStatus) {
        console.log("DONE");
        $("#loading").removeClass("start");
      });
    }

  </script>



</html>
